APP_NAME=go-template
APP_PORT=8080
APP_ENVIRONMENT=local

LOG_LEVEL=debug
LOG_FORMAT=console

DB_POSTGRES_WRITE_HOST=localhost
DB_POSTGRES_WRITE_PORT=5432
DB_POSTGRES_WRITE_USER=postgres
DB_POSTGRES_WRITE_PASSWORD=postgres
DB_POSTGRES_WRITE_NAME=postgres
DB_POSTGRES_WRITE_SSL_MODE=disable

DB_POSTGRES_READ_HOST=localhost
DB_POSTGRES_READ_PORT=5432
DB_POSTGRES_READ_USER=postgres
DB_POSTGRES_READ_PASSWORD=postgres
DB_POSTGRES_READ_NAME=postgres
DB_POSTGRES_READ_SSL_MODE=disable

TRACER_ENABLED=false
